.btn-df-lg {
  background-color: $newgreen;
  color: $black;

  &:hover {
    color: $white;
    background-color: $newblue;
  }
}
.btn{
  padding: 8px;
  @media (min-width: 960px) {
    border-radius: 16px;
    padding: 12px;
  }
}
.btn-df-outoff-md {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 8px;
  background-color: $black;
  color: $white;
  gap: 0;

  &:hover {
    background-color: $newgreen;
    color: $black;
  }
  @media (min-width: 960px) {
    padding-left: 20px;
    padding-right: 12px;
    gap: 4px;
  }
}