<footer class="background-grey border-footer">
    <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center py-6 py-lg-9">
        <nav class="nav justify-content-center tw-bd-md mb-2 mb-lg-0">
            <a class="nav-link nav-fill-link py-2 px-4 px-lg-6" href="#">服務方案</a>
            <a class="nav-link nav-fill-link py-2 px-4 px-lg-6" href="#">關於職旅</a>
            <a class="nav-link nav-fill-link py-2 px-4 px-lg-6" href="contact">聯絡我們</a>
            <a class="nav-link nav-fill-link py-2 px-4 px-lg-6" href="#">隱私權政策</a>
            <a class="nav-link nav-fill-link py-2 px-4 px-lg-6" href="#">用戶條款</a>
        </nav>
        <p class="tw-bd-sm text-natural-50">Copyright © 2025 職旅 workway. All rights reserved.</p>
    </div>
</footer>